/* login form */
.custom_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 80vh;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.login_button {
  background-color: #000000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.login_button:hover {
  opacity: 0.8;
}
select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.logout_button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(65, 15, 15);
  color: white;
  cursor: pointer;
  justify-content: center;
}

/* sidebar start */
#mySidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;

  left: 0;
  background-color: #111;
  padding-top: 20px;
}

#mySidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

#mySidebar a:hover {
  color: #f1f1f1;
}
